<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BatchFile" value="git-commit.bat" />
    <add key="AppPath" value="C:\CacheTech\SyncEngine\" />
    <add key="RunDurationInMins" value="10" />
    <add key="IsExit" value="yes" />
    <add key="RepoName" value="SyncDocs" />
    <add key="RepoUrl" value="https://technosunsiva@dev.azure.com/technosunsiva/CloudSyncEngine/_git/SyncDocs" />
    <add key="Environment" value="local" ></add>
    <add key="IsCloneEnable" value="false" ></add>
  </appSettings>
</configuration>